%html
  %head
    %title Sunshine Test
    %script{:type=>"text/javascript", :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %body
    .background-fade
      \
    .sunshine
      \ 
    .main-content
      %h1.lead-in Find your Sunshine
      %h2.location-question Tell me where you're at
      .search-container
        .search-input
          %input{:placeholder => "Sunnyvale, CA"}
        .search-button
          %span
            Go!
      .results
        %h2
          The sun's out 
          %span.distance
            
          miles away in 
          %span.found-city
            city-name
        %p.try-again
          %a{:href => '#'}
            Find something else...
    .about-box
      %h2
        About This
      .about-content
        %p
          This site was created as a side project by Sean Todd.  This is my first RoR project so please send me any recommendations or bugs you find through github.  Feel free to fork the code and play around with it if you'd like.
        %p
          As for the inspiration for this site, I came up with the idea while working from home on a cloudy day.  I sat there wondering how far away I'd have to travel to find the sunshine.  I could just look at the radar map on a weather site, but that seemed to take all the fun out of it.
    .non-shadow-hills
      .hill
    .shadow-hills
    .footer
      %a#about-link{:href => '#'}
        About
      |
      %a{:href => '#'}
        Contact
      |
      %a{:href => 'https://github.com/descentintomael/wheresthesunshine', :target => 'blank'}
        Github
      |
      %a{:href => '#'}
        FAQ