@import url(http://fonts.googleapis.com/css?family=Diplomata|Crimson+Text:600italic);
/* line 10, ../sass/sun.sass */
body {
  background-color: #78c4ce;
  background-image: url("../img/blue_noise.jpeg"); }

/* line 14, ../sass/sun.sass */
.sunshine {
  z-index: 10;
  width: 375px;
  height: 375px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0px;
  left: 150px;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 68, color-stop(0%, #f7ef88), color-stop(31%, rgba(252, 242, 47, 0.85)), color-stop(42%, rgba(249, 235, 65, 0.8)), color-stop(51%, rgba(247, 230, 79, 0.52)), color-stop(68%, rgba(247, 230, 79, 0)));
  background-image: -webkit-radial-gradient(center, ellipse cover, #f7ef88 0%, rgba(252, 242, 47, 0.85) 31%, rgba(249, 235, 65, 0.8) 42%, rgba(247, 230, 79, 0.52) 51%, rgba(247, 230, 79, 0) 68%);
  background-image: -moz-radial-gradient(center, ellipse cover, #f7ef88 0%, rgba(252, 242, 47, 0.85) 31%, rgba(249, 235, 65, 0.8) 42%, rgba(247, 230, 79, 0.52) 51%, rgba(247, 230, 79, 0) 68%);
  background-image: -o-radial-gradient(center, ellipse cover, #f7ef88 0%, rgba(252, 242, 47, 0.85) 31%, rgba(249, 235, 65, 0.8) 42%, rgba(247, 230, 79, 0.52) 51%, rgba(247, 230, 79, 0) 68%);
  background-image: -ms-radial-gradient(center, ellipse cover, #f7ef88 0%, rgba(252, 242, 47, 0.85) 31%, rgba(249, 235, 65, 0.8) 42%, rgba(247, 230, 79, 0.52) 51%, rgba(247, 230, 79, 0) 68%);
  background-image: radial-gradient(center, ellipse cover, #f7ef88 0%, rgba(252, 242, 47, 0.85) 31%, rgba(249, 235, 65, 0.8) 42%, rgba(247, 230, 79, 0.52) 51%, rgba(247, 230, 79, 0) 68%); }

/* line 25, ../sass/sun.sass */
.main-content {
  z-index: 100;
  width: 1500px;
  height: 400px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -750px;
  margin-top: -200px; }

/* line 38, ../sass/sun.sass */
h1.lead-in {
  font-family: "Diplomata";
  font-style: normal;
  font-weight: 400;
  font-size: 4em;
  color: rgba(34, 34, 34, 0.9);
  text-align: center;
  margin-bottom: 0; }

/* line 47, ../sass/sun.sass */
h2.location-question {
  font: italic normal 600 2em "Crimson Text", serif;
  color: rgba(34, 34, 34, 0.9);
  text-align: center;
  margin-bottom: 0; }

/* line 56, ../sass/sun.sass */
.results {
  display:none;
}
.results h2 {
  font-size: 3em;
  color: rgba(34, 34, 34, 0.9);
  font: italic normal 600 3em/normal "Crimson Text", serif;
  text-align: center;
  margin-bottom: 0; }
  /* line 62, ../sass/sun.sass */
  .results h2 .found-city {
    text-decoration: underline;
    cursor: pointer; }
/* line 66, ../sass/sun.sass */
.results p.try-again {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0; }
  /* line 71, ../sass/sun.sass */
  .results p.try-again a {
    font: italic normal 600 1.2em "Crimson Text", serif;
    color: rgba(34, 34, 34, 0.9); }

/* line 77, ../sass/sun.sass */
.search-container {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto; }
  /* line 83, ../sass/sun.sass */
  .search-container .search-input {
    height: 50px;
    width: 350px;
    background: white;
    border: 2px solid #222222;
    outline: 5px solid white;
    float: left;
    margin: 10px; }
    /* line 91, ../sass/sun.sass */
    .search-container .search-input input {
      font: italic normal 600 2em "Crimson Text", serif;
      color: #222222;
      border: 0px;
      width: 300px;
      margin-left: 25px; }
  /* line 98, ../sass/sun.sass */
  .search-container .search-button {
    background: #222222;
    border: 2px solid white;
    outline: 5px solid #222222;
    font: italic normal 600 2em "Crimson Text", serif;
    color: white;
    width: 87px;
    height: 50px;
    float: right;
    margin: 10px;
    text-align: center;
    cursor: pointer; }
    /* line 110, ../sass/sun.sass */
    .search-container .search-button span {
      vertical-align: middle;
      display: inline; }

/* line 116, ../sass/sun.sass */
.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  text-align: center;
  z-index: 100; }
  /* line 124, ../sass/sun.sass */
  .footer a {
    font: italic normal 600 1.2em "Crimson Text", serif;
    color: rgba(34, 34, 34, 0.9); }

/* line 132, ../sass/sun.sass */
.non-shadow-hills .hill {
  z-index: 10;
  background-color: #8ba341;
  background-image: url("../img/green_noise.jpeg");
  position: fixed;
  bottom: 0;
  left: -50px;
  width: 300px;
  height: 100px;
  border-top-right-radius: 150px 100px;
  border-top-left-radius: 150px 100px; }

/* line 144, ../sass/sun.sass */
.shadow-hills .hill {
  z-index: 0;
  background-color: #8ba341;
  box-shadow: 0px 3px 6px 6px #666666;
  width: 300px;
  height: 100px;
  border-top-right-radius: 150px 100px;
  border-top-left-radius: 150px 100px;
  position: fixed;
  bottom: 0;
  left: -50px; }
